<p><%= link_to "New Park", "/parks/new" %></p>

<h1>Parks</h1>

<p><%= form_with url: "/parks?exact_search=#{:exact_search}", method: :get, local: true, skip_enforcing_utf8: true do |form| %>
  <p><%= form.label :exact_search %>
  <%= form.text_field :exact_search %>
  <%= form.submit "Exact Search", name: nil %></p>
<% end %></p>

<% @parks.each_with_index do |park, index| %>
  <div id="park_<%= index%>">
  <h3><span style="text-align: left;"><%= link_to "#{park.name}", "/parks/#{park.id}" %></span>
  <span style="float: right;"><%= link_to "Edit", "/parks/#{park.id}/edit" %> / 
  <%= link_to "Delete", "/parks/#{park.id}", method: :delete %></span></h3>
  <p>Established: <%= park.year %></p>
  <% if park.affluent %>
    <p><%= 'Affluent'%></p>
  <% else %>
    <p><%= 'Not affluent'%></p>
  <% end %>
  <p>Created: <%= park.created_at %></p>
  </div>
<% end %>

<p><%= link_to "Sort By Tree Count", "/parks?sort=treecount"%></p>