<p><%= link_to "Parks Index", "/parks" %> / <%= link_to "Trees Index", "/trees" %></p>

<h1>Parks</h1>

<div id="parks">
<% @parks.each do |park| %>
<h3 class="parkname"><%= park.name %></h3>
<p>Established: <%= park.year %></p>
<% if park.affluent %>
<p><%= 'Affluent'%></p>
<% else %>
<p><%= 'Not affluent'%></p>
<% end %>
<p>Created: <%= park.created_at %></p>
<% end %>
<div>