<p><%= link_to "#{@park.name} Trees", "/parks/#{@park.id}/trees" %></p>
<p><%= link_to "Update Park", "/parks/#{@park.id}/edit" %></p>

<h1><%= @park.name %></h1>
<p>Established: <%= @park.year %></p>
<% if @park.affluent %>
<p><%= 'Affluent'%></p>
<% else %>
<p><%= 'Not affluent'%></p>
<% end %>
<p>Tree Count: <%= @park.tree_count %>