<p><%= link_to "Parks Index", "/parks" %> / <%= link_to "Trees Index", "/trees" %></p>

<h1><%= @park.name %></h1>

<% @trees.each do |tree| %>
<h3><%= tree.species %></h3>
<p>Diameter: <%= tree.diameter %> in</p>
<% if tree.healthy %>
<p><%= 'Healthy'%></p>
<% else %>
<p><%= 'Unhealthy'%></p>
<% end %>
<% end %>