<p><%= link_to "Create Tree", "/parks/#{@park.id}/trees/new" %></p>

<h1><%= @park.name %></h1>

<p><%= form_with url: "/parks/#{@park.id}/trees?diam=#{:diam}", method: :get, local: true, skip_enforcing_utf8: true do |form| %>
  <p><%= form.label :diam %>
  <%= form.number_field :diam %></p>
  <p><%= form.submit "Return records with > X in Diameter", name: nil %></p>
<% end %></p>

<% @trees.each_with_index do |tree, index| %>
  <div id="parktree_<%= index%>">
  <h3><%= tree.species %> <%= link_to "Edit", "/trees/#{tree.id}/edit" %></h3>
  <p>Diameter: <%= tree.diameter %> in</p>
  <% if tree.healthy %>
    <p><%= 'Healthy'%></p>
  <% else %>
    <p><%= 'Unhealthy'%></p>
  <% end %>
  </div>
<% end %>

<p><%= link_to "Sort Alphabetically", "/parks/#{@park.id}/trees?sort=alpha"%></p>