<h1>Trees</h1>

<p><%= form_with url: "/trees?exact_search=#{:exact_search}", method: :get, local: true, skip_enforcing_utf8: true do |form| %>
  <p><%= form.label :exact_search %>
  <%= form.text_field :exact_search %>
  <%= form.submit "Exact Search", name: nil %></p>
<% end %></p>

<p><%= form_with url: "/trees?partial_search=#{:exact_search}", method: :get, local: true, skip_enforcing_utf8: true do |form| %>
  <p><%= form.label :partial_search %>
  <%= form.text_field :partial_search %>
  <%= form.submit "Partial Search", name: nil %></p>
<% end %></p>

<% @trees.each_with_index do |tree, index| %>
  <div id="tree_<%= index%>">
  <h3><span style="text-align: left;"><%= link_to "#{tree.species}", "/trees/#{tree.id}" %></span>
  <span style="float: right;"><%= link_to "Edit", "/trees/#{tree.id}/edit" %> / 
  <%= link_to "Delete", "/trees/#{tree.id}", method: :delete %></span></h3>
  <p>Diameter: <%= tree.diameter %> in</p>
  <% if tree.healthy %>
    <p><%= 'Healthy'%></p>
  <% else %>
    <p><%= 'Unhealthy'%></p>
  <% end %>
  </div>
<% end %>