<h1>Trees</h1>

<% @trees.show_healthy.each_with_index do |tree, index| %>
  <div id="tree_<%= index%>">
  <h3><span style="text-align: left;"><%= link_to "#{tree.species}", "/trees/#{tree.id}" %></span>
  <span style="float: right;"><%= link_to "Edit", "/trees/#{tree.id}/edit" %> / 
  <%= link_to "Delete", "/trees/#{tree.id}", method: :delete %></span></h3>
  <p>Diameter: <%= tree.diameter %> in</p>
  <% if tree.healthy %>
    <p><%= 'Healthy'%></p>
  <% else %>
    <p><%= 'Unhealthy'%></p>
  <% end %>
  </div>
<% end %>