<p><%= link_to "Parks Index", "/parks" %> / <%= link_to "Trees Index", "/trees" %></p>

<h1><%= @tree.species %></h1>
<p>Diameter: <%= @tree.diameter %> in</p>
<% if @tree.healthy %>
<p><%= 'Healthy'%></p>
<% else %>
<p><%= 'Unhealthy'%></p>
<% end %>